<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/delete" method="post,get">
        <input type="text" name="country" placeholder="Enter the detail" required="required" />
        <input type="text" name="gold" placeholder="No.of.golds" required="required" />
        <button type="submit" >delete</button>
    </form>
    
</body>
</html>